/*
    Body
 */
body {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*
    Navbar
 */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

/*
    Conversations
 */
.conversation > ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    background-color: #111;
    min-width: 80%;
}

.conversation > li {
    background-color: #005C4B;
    border-radius: 0.25rem;
    margin: 0.5rem 0;
    padding: 0.25rem 1rem;

}

/*
    Single messages
 */
.singleMessage {
    color: white;
    background-color: #333;
    border-radius: 0.25rem;
    margin: 0.5rem 0;
    padding: 0.25rem 1rem;
}

.myMessages {
    color: white;
    background-color: #005C4B;
    border-radius: 0.25rem;
    margin: 0.5rem 0;
    padding: 0.25rem 1rem;
    text-align: right;
}

.timeNode {
    color: darkgray;
    font-size: 8px;
    margin-top: 5px;
}

/*
    Sending Messages Form
 */
.form {
    display: flex;
    flex-direction: row;

    padding: 0.5rem 0.5rem;
}