body {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

.conversationAndres {
    display: flex;
    flex-direction: row;

    padding: 0.25rem 0;
    background-color: lightskyblue;
}

.conversationAna {
    display: flex;
    flex-direction: row;

    padding: 0.25rem 0;
    background-color: salmon;
}

.messageList {
    background-color: yellow;
    border-radius: 0.25rem;
    padding: 0.25rem 1rem;
    margin: 0.5rem 0.25rem;
}

.singleMessage {
    background-color: lightgoldenrodyellow;
    border-radius: 0.25rem;
    margin: 0.5rem 0;
    padding: 0.25rem 1rem;
}

.myMessages {
    background-color: #005C4B;
    border-radius: 0.25rem;
    margin: 0.5rem 0;
    padding: 0.25rem 1rem;
    float: right;
}

.form {
    display: flex;
    flex-direction: row;

    padding: 0.5rem 0.5rem;
}